  /* .App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */
.text-center {
   position:absolute;
}
.navbar {
  width: 140%
}
/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
