
/* .item-card {
  border: 1px solid gray;
  width: 100%;
}

.menu-item {
  width: 120px;
  display: inline;
  padding: 15px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

div{
display:flex;
} */
