
.item-card {
  border: 1px solid gray;
  width: 100%;
}

.menu-item {
  width: 100px;
  display: inline-block;
  padding: 15px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-item:hover {
  background: #656565;
  color: #ffffff;
}
div{
display:flex;
}
